.btn{
    border-style: none;
    border-radius: 5%;
    width: 180px;
    height: 40px;
}

.HeaderPrincipal-Item--active{
    padding: 10px 25px;
}

.Section1-Button--active{
    margin-left: 190px;
    grid-column: 2/3;
    grid-row: 3/4;
}
