.HeaderPrincipal-Link:hover{
    color: #a83943;
}

.btn:hover{
    background: #df3b43;
}
.HeaderPrincipal-Item--active:hover{
    background: #df3b43;
}
.Section1-Button--active:hover{
    background: rgb(233, 230, 230);
}