.bg1{background: #3e343f;} //morado oscuro
.bg2{background: #fa424a;} //rojo
.bg3{background: #a83943;} //rojo oscuro
.bg4{background: #fedcd3;}//crema

.color1{color: rgb(228, 226, 226);} //blanco
.color2 {color: #3d382d;} //texto

.font1{font-family: 'Archivo', sans-serif;}

.t-center {text-align: center;}
  
.fw-b {font-weight: bold;}
.fw-m {font-weight: medium;}
.fw-l {font-weight: lighter;}
  
.xxl {font-size: 3rem;}
.xl {font-size: 2.5rem;}
.l {font-size: 3rem;}
.m {font-size: 0.9rem;}
.s {font-size: 0.7rem;}
  
.pb-5 {padding-bottom: 5rem;}
.pb-4 {padding-bottom: 4rem;}
.pb-3 {padding-bottom: 3rem;}
.pb-2 {padding-bottom: 2rem;}
.pb-1 {padding-bottom: 1rem;}